.card {
  box-shadow: 0 2px 10px #ccc;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}

.imageContainer img {
  object-fit: fill;
  /* this using for prevent cls= content layout shifting */
  aspect-ratio: attr(width) / attr(height);
}

.card .title {
  font-size: 18px;
  text-align: center;
}
.cardFooter,
.cardFooter > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.cardFooter span {
  font-weight: bold;
  padding: 3px 10px;
  margin-inline-start: 5px;
  border-radius: 8px;
  background-color: #444;
  color: #fff;
}
